body {
  font-family: "sofia-pro";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  align-content: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-family: "sofia-pro";
  font-size: 48px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: white;
  margin-top: 115px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #004d61;
  margin: 0;
}

h3 {
  font-family: "Sofia-Pro";
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  
}

h4 {
  color: #348498;
  line-height: 1.25; 
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: -0.43px;  
}

.intro-line {
  border: solid;
  height: 70px;
  width: 1px;
  position: absolute;
  left: 84px;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-color: #ff502f;
}

.mediaBtn {
  width: 40px;
  height: 40px;
  margin: 8px;
  position: relative;
  right: 72px;
  bottom: 40px;
  float: right;
}


#name-intro {
  color: white;
  text-align: left;
  position: relative;
  left: 94px;
  font-size: 24px;
  font-weight: 250;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  width: fit-content;
  margin: 0;
}



.hero {
  background-color: #004d61;
  height: 768px;    
  width: 100%;
  text-align: center;    
  padding-top: 41px;
}

.skills-container-top {
  width: 40%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.skills-container-btm {
  width: 40%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.skills {
  height: 53px;  
  border-radius: 2px;
  background-color: #0f5e72;
  border: none;
  text-align: center;  
  margin: 8px;
}

p {
  color: #5bd1d7;
  margin: 16px;
  font-size: 18px;
  font-family: "quicksand";
}

.my-work-container {
  display: flex;
  justify-content: center;
  position: relative; 
  bottom: 152px;

}

.my-work-titles {
  color: #004d61;
  position: absolute;
  bottom: 33px;
  margin: 0 24px;
  border-bottom: solid #ff502f
}

.my-work-links {
  min-width: 379px;
  height: 376px;
  border-radius: 4px;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 0;
}

.my-work-links:hover {
  opacity: 1;

}

#middle-work {
  position: relative;
  bottom: 53px;
  margin: 0 33px;
}

.myWorkImgs {
  width: 379px;
  height: 280px;
}

.about-me {
  
  text-align: center;
}


#interests-header {
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #004d61;
  margin: 0 0 60px 0;
}

.interests-container {
  display: flex;
  justify-content: center;
}

.interests-blocks {
  min-width: 277px;
  height: 277px;
  border-radius: 4px;
  background-color: #004d61;
  margin: 0 16px;
  text-align: center;
  
}

.interests-title {
  color: white;
  margin: 32px 0 10px 0;
}

.interests-subhead {
  margin: 0;
  color: white;
}

#dg-basket {
  position: relative;
  top: 76px;
  right: 69px;
  width: 45px;
  height: 98px;
}

#drumset {
  position: relative;
  top: 92px;
  width: 140px;
  height: 82px;
}

#drone-img {
  position: relative;
  top: 56px;
  left: 32px;
  width: 104px;
  height: 45px;
}

#controller-img {
  position: relative;
  top: 64px;
  width: 111.6px;
  height: 60.3px;
}

.contact-me {

}

#contact-me-header {
  margin: 40px 0 16px 0;
}

.card {
  margin: 124px auto;
  padding-top: 32px;
  width: 586px;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  

}

.card-intro {
  border-top: solid #ff502f;
  
  margin: 0 24px;
}

form {  
  padding: 52px 100px 0 100px;
  align-content: center;
}

label {
  display: block;
  text-align: left;
  margin: 0 0 8px;
}

input {
  width: 100%;
  height: 40px;  
  border-radius: 4px;
  box-sizing: border-box;
  border: solid 1px #348498;
  display: block;
}

textarea {
  border-radius: 4px;  
  box-sizing: border-box;
  border: solid 1px #348498;
  margin: 0px;
  max-width: 100%;
  height: 185px;
  min-width: 100%;
  width: 399px;
  min-height: 185px;  
}


button:hover {
  background-color: #ff502f;;
}


.submit-form-btn {
  width: 106px;
  height: 48px;
  border-radius: 2px;  
  margin: 32px 0 48px;
  position: relative;
  font-family: "sofia-pro";
  font-size: 16px;
  background-color: grey;
  color: white;
  border: none;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba( 0 ,0 ,0 , 0.7 );  
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  
}

.modal-content {
  width: 792px;
  height: 313px;
  background-color: white;
  padding: 0px 40px;
}

.modal-hr {
  width: 70%;
  float: right;
  border: solid 1px #ff502f;  
  border-radius: 2px;
  position: relative;
  bottom: 42px;
  right: 53px;
}

.modal-x-btn {
  width: 20px;
  height: 20px;
  position: relative;  
  bottom: 62px;
  float: right;
  clear: right;
  font-family: "sofia-pro";
  font-size: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: white;
}

.modal-x-btn:hover {
  background-color: white;
  cursor: pointer;
}

.x-img {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 3px;
}

.project-disc {
  width: 44%;  
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  float: left;

}

.tech-used {
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  float: right; 
  position: relative;
  right: 48px; 
}

#tech-headline {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.34px;
  text-align: left;
  color: #348498;
}


