body {
  font-family: "sofia-pro";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  align-content: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

a {
  cursor: pointer;
}

p {  
  margin: 16px;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

h1 {
  font-family: "sofia-pro";
  font-size: 48px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: white;
  margin: 115px 0 24px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #004d61;
  margin: 0;
}

h3 {
  font-family: "Sofia-Pro";
  font-size: 32px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  margin: 8px auto 16px;
  
}

h4 {
  color: #004d61;
  line-height: 1.25; 
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;  
  letter-spacing: -0.43px; 
  display: inline-block; 
}


h5 {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: -0.34px;
  text-align: left;
  color: #348498;
}

hr {
  background: #ff502f;
  border-style: none;
  height: 2px;
  border-radius: 4px; 
  width: 40px; 
}

.intro-line {
  border: solid;
  height: 70px;
  width: 1px;
  position: absolute;
  left: 84px;
  top: 0;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-color: #ff502f;
}

.media-div {  
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  display: flex;
  align-content: center;
  padding: 24px;
  margin: 0 4%;
}

.mediaBtn {
  width: 40px;
  height: 40px;
  margin: 8px;  
}

#resumeBtn {
  width: 114px;
  height: 40px;
  background-color: white;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  padding: 11px 24px;
  border-radius: 25px;
  margin: 8px;
  color: #ff502f;
}


#name-intro {
  color: white;
  text-align: left;
  position: relative;
  left: 94px;
  font-size: 24px;
  font-weight: 250;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: left;
  width: fit-content;
  margin: 0;
}



.hero {
  background-color: #004d61;
  height: 768px;    
  width: 100%;
  text-align: center;    
  padding-top: 41px;
}

.skills-container {
  width: 40%;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #5bd1d7;
  font-family: "quicksand";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.skills {
  padding: 12px 16px; 
  border-radius: 2px;
  background-color: #0f5e72;
  border: none;
  text-align: center;  
  margin: 8px;
}



.my-work-container {
  display: flex;
  justify-content: center;
  position: relative; 
  bottom: 152px;

}

.my-work-titles {
  color: #004d61;
  position: absolute;
  bottom: 33px;
  margin: 0 24px;
  border-bottom: solid #ff502f
}

.my-work-links {
  min-width: 379px;
  height: 376px;
  border-radius: 4px;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 0;
}

#middle-work {
  position: relative;
  bottom: 53px;
  margin: 0 33px;
}

.myWorkImgs {
  width: 379px;
  height: 280px;
}

.about-me {
  margin-bottom: 200px;
  text-align: center;
}

#about-me-header {
  font-family: "quicksand";
  font-style: normal;
  font-weight: bold;
  color: #348498;
}


#interests-header {
  font-size: 48px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #004d61;
  margin: 0 0 72px 0;
}

.interests-container {
  display: flex;
  justify-content: center;
  padding: 0 17%;
}

.interests-blocks {
  margin: 0 auto;
  width: 250px;
}

#basket {

}
#drums {
  margin-top: 7px;
  margin-bottom: 7px;
}
#drone {
  margin-top: 26px;
  margin-bottom: 10px;
}
#controller {
  margin-top: 13px;
  margin-bottom: 12px;
}

.contact-me {
  width: 100%;
  height: 271px;
  background-color: #ff502f;
  text-align: center;
}

.contact-me-card {
  width: 586px;
  height: 289px;
  background-color: white;
  box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  position: relative;
  bottom: 100px;
  margin: 0 auto;
  padding: 56px;
}

.contact-me-header {
  margin: 24px 0 16px 0;
}

#email-link {
  color: #004D61;
  font-family: 'quicksand';
  border-bottom: solid 2px #ff502f;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}


/* #contact-me-header {
  margin: 40px 0 16px 0;
  color: #348498;
  font-family: "quicksand";
  font-style: normal;
  font-weight: bold;
}

.card {
  margin: 124px auto;
  padding-top: 32px;
  width: 586px;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 3px 24px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  text-align: center;

}

.card-intro {
  border-top: solid #ff502f;
  
  margin: 0 24px;
}

form {  
  padding: 52px 100px 0 100px;
  align-content: center;
  text-align: left;
}

label {
  display: block;
  text-align: left;
  margin: 0 0 8px;
}

input {
  width: 100%;
  height: 40px;  
  border-radius: 4px;
  box-sizing: border-box;
  border: solid 1px #348498;
  display: block;
}

textarea {
  border-radius: 4px;  
  box-sizing: border-box;
  border: solid 1px #348498;
  margin: 0px;
  max-width: 100%;
  height: 185px;
  min-width: 100%;
  width: 399px;
  min-height: 185px;  
} */


button:hover {
  background-color: #ff502f;;
}


/* .submit-form-btn {
  width: 106px;
  height: 48px;
  border-radius: 25px;  
  margin: 32px 0 48px;
  position: relative;
  font-family: "sofia-pro";
  font-size: 16px;
  background-color: grey;
  color: white;
  border: none;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
} */

.bg-modal, .modal1, .modal2, .modal3{
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.85 );  
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: none;
}

.modal-content {
  width: 792px;
  height: 313px;
  background-color: white;
  padding: 0px 40px;
  position: relative;
}

.modal-hr {
  width: 68%;  
  background: #ff502f;
  border-style: none;
  height: 2px;
  border-radius: 4px;
  position: relative;  
  left: 8px; 
  top: 16px;
  display: inline-block;
}

#short-hr {
  left: 16px;
}


.modal-head {
  display: inline-block;
  width: 100%;
}

.modal-header {
  width: 154px;
  border: none;
  padding: 0;
}

.modal-left {
  float: left;
  width: 43%;
  display: block;
  margin: 16px auto;
}

.modal-right {
  width: 48%;
  float: right;
  margin: 16px auto;
}

.close-btn, .close-btn2, .close-btn3{
  position: absolute; 
  font-family: "sofia-pro";
  font-size: 64px;  
  border: none;
  right: 32px;
  top: 0;
  transform: rotate( 135deg );
  color: #ff502f;
  font-weight: 100;
}

.close-btn:hover, .close-btn2:hover, .close-btn3:hover {
  cursor: pointer;
}

.x-img {
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 3px;
}

.project-disc {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  float: left;

}

.tech-used {
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-bottom: 32px;
}

#tech-headline {
  
}

.project-links {
  float: left;
  clear: left;
  margin: 32px 0px 0px 0px;
}

#visit-site {
  margin: 0 32px 0 8px;
  text-decoration: none;
  border-bottom: solid 2px #ff502f;
  color: #004d61;
}

#view-source {
  margin: 0 32px 0 8px;
  text-decoration: none;
  border-bottom: solid 2px #ff502f;
  color: #004d61;
}

.role {
  
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  
}




